/*Google font import*/
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

/*Body styling*/
body{
    font-family: Lora, sans-serif;
    background-color: #b2beb5;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*image container styling*/
.image_cont{
    background: #b2beb5;
    width: 600px;
    border-radius: 7.5px;
    max-width: 100%;
    max-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 0.3rem;
    box-shadow: 5px 0 5px 5px rgb(153, 150, 150);
    overflow: hidden;
}

.image{
    width:100%;
    overflow: hidden;
    max-height: 100vh;
    height: 360px;
    object-fit: cover;
    border-radius: 7.5px;
}

/*Quiz container styling*/
.quiz-container{
    background-color: #fff;
    border-radius: 7.5px;
    box-shadow: 0 0 5px 5px rgb(153, 150, 150);
    width: 600px;
    max-width: 100%;
    overflow: hidden;
}

h2{
    margin: 0;
    padding: 4px 4px;
}

.quiz-body{
    padding: 3rem;
}

ul{
    list-style-type: none;
    padding: 0;
}

ul li{
    margin: 16px 0;
    font-size: 1rem;
}

/*Submit button styling*/
#submit-button, #reloadButton{
    color: #fff;
    background-color: #ab0020;
    display: block;
    width: 100%;
    padding: 4px;
    font-family: inherit;
    font-size: 1.8rem;
    cursor: pointer;
    border: none;
}

#submit-button:hover, #reloadButton:hover{
    background-color: #52000f;
}

/*Styling for the score div at the end*/
.reloadDiv{
    height:150px;
}